/*
Description: 	Theme for PLACEHOLDER
Author: 	Asmi Joshi, 2012
*/

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color:#353535;
}

#header {
	font-family: Helvetica, sans-serif;
	overflow: hidden;
	text-align: left;
	width: 800px;
	margin: auto;
	padding-top: .5em;
}

#header ul.nav {
	display: inline;
	margin: auto 40px auto 40px;
	font-size: 30px;
	color: white;
}

#menubar {
	width: auto;
	height:auto;
	background-color:#ECD672;
	margin-left: 10em;
	margin-right: auto;
}

.centered {
	
}
