/*
Description: 	Theme for Portfolio
Author: 	Asmi Joshi, 2012
*/


body {
	font-family: sans-serif; 
    background: #353535; 
    margin: 0;
    padding: 0;
    text-align:center;
}

h1, h2, h3{
	color: #E66C2C;/*#8A4117;*/
	letter-spacing: .5px;
}

#header {
	font-family:"Verdana", "Lucida Grande", helvetica, sans-serif;
	margin: 0px;
	overflow: hidden;
		
}

#header h1 {
	text-align: left;
	margin-bottom: 0px;
	font-size: 250%;
}

#header h3 {
	color: #ffffff;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 150%;
}

#header a {
	text-decoration: none;
}

#header a:link {
	color: inherit;
}

#header a:visited {
	color: inherit;
}

#header a:hover {
	color: inherit;	
}

#header a:active {
	color: inherit;
}


#menuBar {	
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 800px; 
}

#menuBar ul li {
	display: inline;
	margin: auto 40px auto 40px;
	font-size: 25px;
	color: #E56717;
	letter-spacing: .5px;
}

#menuBar li a {
	text-decoration: none;
}

#menuBar li a:link {
	color: #E56717;
}

#menuBar li a:visited {
	color: inherit;
}


#menuBar li a:hover {
	color: #3090C7;	
}

#menuBar li a:active {
	color: #3090C7;/*#E56717;*/
}


#menuBar li.current {
	color: #3090C7;
}

#main {
	font-family:"Verdana", "Lucida Grande", helvetica, sans-serif;
	margin: auto;
	overflow: hidden;
	width: 800px; 
	text-align: left;
}

#main p {
	color: #F9966B;
	letter-spacing: .5px;
}

#main a {
	text-decoration: none;
	color: #87AFC7; /*#3090C7;*/
}

#main a:visited {
	color: #87AFC7;
}

#main a:hover {
	color: #3090C7;
}

#main ul li {
	color: #F9966B;
	letter-spacing: .5px;
}

#background {
	padding-bottom: 20px;
}

#background p {
	letter-spacing: .5px;
}


#resume_img {
	margin-top: 20px;
	margin-left: 60px;
	margin-right: auto;
}


#footer {
	text-align: right;
	margin-top: 25px;
	margin-bottom: 25px; 
	clear: both;
	font-size: 0.75em;
	color: #808080;
}


/* To get the rounded edges on the menu bar */
.box { 
  background: #FAF8CC;   
}
.boxtop { 
  background: url(img/ne.gif) no-repeat top right; 
}
.boxtop div { 
  height: 5px; 
  background: url(img/nw.gif) no-repeat top left; 
}
.boxbottom { 
  background: url(img/se.gif) no-repeat bottom right; 
}
.boxbottom div { 
  height: 5px; 
  background: url(img/sw.gif) no-repeat bottom left; 
}
.boxcontent {
  padding: 0px 10px 0px 10px;
}

.centered {
	text-align: center;
	width: 800px;
	margin: auto;
	padding: 0;
}


.portfolio p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.portfolio h2 {
	margin-top: 50px;
	margin-bottom: 1px;
}

.subheading {
	height: 500px;
	margin-bottom: 20px;	
}

.subheading h2 {
	color: #E66C2C;
}

.small_subheading {
	height: 330px;
}


.portfolioText p {
	letter-spacing: 5px;
}

.portfolioText ul li {
	margin-bottom: 1px;	
	letter-spacing: 5px;
}

.portfolioImage {	
	float: left;
	height: 300px;
	margin-right: 20px;
    width: 250px;		
}


.portfolioImage_small {
	float: left;
	height: 200px;
	margin-right: 20px;
    width: 250px;	
}

.thumbnail {
	height: 250px;
}

.thumbnailImage {
	float: left;
	height: 150px;
	margin-right: 20px;
	
}







